[Unit]
Description=StartGrab

[Service]
Type=simple
WorkingDirectory=/home/pii/farm-stepmotor-controller-project/Controller_Server/Sensor_Console
ExecStart=/bin/bash StartConsoleServer.sh


[Install]
WantedBy=multi-user.target

