<html lang="en"><head>     
 <style>
	.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}

	table {
    width: 100%;
	}
 </style>
	<meta charset="utf-8">     
 	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
						
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"  rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


	 <script type="text/javascript" src="/static/Sensor.js"></script>
 
 </head>   
 <body>   
 <div class="container">  
	<div class="row">  
		<div class="col-md-4">
			<h4>光照度儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="LuxTable"></tbody>
			</table>
		</div>

		<div class="col-md-4">
			<h4>PH 儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="PH_Table">
			
			</tbody>
			</table>
		</div>

		<div class="col-md-4">
			<h4>EC 儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="EC_Table">
				
			</table>
		</div>
		<div class="col-md-4">
			<h6 id="lastUpdateTime">最後更新時間 : </h6>
			<button onclick="ReadAllSensor();" type="button" class="btn btn-primary">更新</button>  
		</div>
	</div> 
<div style="height: 50px;" class="row"></div>
<div class="row">
	<div class="col-md-8">
		<h4>定時重複運行指令</h4>    
		
		
		<div style="height: 10px;" class="row"></div>
		<div class="row">
			<div class="col-md-2">
				<input type="text" class="form-control" id="MotorPositionX" placeholder="X座標">
			</div>
			<div class="col-md-0.5">
				<label>:</label>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="MotorPositionY" placeholder="Z座標">
			</div>
			<div class="col-md-1">
				<button onclick="saveMotorCommand();" type="button" class="btn btn-primary">新增指令</button>  
			</div>
		</div>
		<div style="height: 10px;" class="row"></div>
		<div class="row">
			<div class="col-md-10 table-responsive">
				<table class="table table-responsive-md" id="commandTable">
					<thead>
						<tr>
							<th data-checkbox="true"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div style="height: 30px;" class="row">
			<div class="col-md-12">
				<h6 id="saveCommandRunResult">運行結果 :</h6>
			</div>
		</div>
		<div style="height: 10px;" class="row">
			<div class="col-md-2">
				<button onclick="showCommandList();" type="button" class="btn btn-primary">更新列表</button>  
			</div>
			<div class="col-md-2">
				<button onclick="deleteCommandList();" type="button" class="btn btn-danger">刪除已選指令</button>  
			</div>
			<div class="col-md-2">
				<button onclick="runCommandList();" type="button" class="btn btn-warning">立即運行重複指令</button>  
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="row">
			<h4>定時運行排程</h4>    
		</div>
		<div style="height: 5px;" class="row"></div>
		
		<div class="row">
			<div class="col-md-0">
				<button onclick="SetMovePlan();"type="button" class="btn btn-primary">新增排程運行</button>  
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<div class="input-group date" id='datetimepicker'>
						<input type="text" class="form-control">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-8 table-responsive">
				<table class="table" id="Schedule_table">
					<thead>
						<tr>
							<th data-checkbox="true"></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div style="height: 30px;" class="row">
			<div class="col-md-0">
				<h6 id="savePlanRunResult">運行結果 :</h6>
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-0">
				<button onclick="showPlanList();" type="button" class="btn btn-primary">更新排程列表</button>  
			</div>
			<div class="col-md-1">
				<button onclick="deleteTimeCommand();"type="button" class="btn btn-danger">刪除已選排程</button>  
			</div>
		</div>

	</div>
</div>

<div style="height: 50px;" class="row"></div>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3">
				<h4>馬達測試</h4>
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h6>馬達代號</h6>
			</div>
			<div class="col-md-0">
				<div class="dropdown">
					<div>
						</div>
							<button class="btn btn-info dropdown-toggle" type="button" id="StepMotorNumber" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A</button>
						<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
						<a class="dropdown-item" onclick="updateSelectionItem('StepMotorNumber','A');">A</a>
						<a class="dropdown-item" onclick="updateSelectionItem('StepMotorNumber','B');">B</a>
					</div>
				</div>
			</div>
			<div class="col-md-0">
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h6>旋轉方向</h6>
			</div>
			<div class="col-md-0">
				<div class="dropdown">
					<div>
						</div>
							<button class="btn btn-info dropdown-toggle" type="button" id="dropdownStepMotor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">反轉</button>
						<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
						<a class="dropdown-item" onclick="updateSelectionItem('dropdownStepMotor','正轉');">正轉</a>
						<a class="dropdown-item" onclick="updateSelectionItem('dropdownStepMotor','反轉');">反轉</a>
					</div>
				</div>
			</div>
			<div class="col-md-0">
			</div>
		</div>

		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h9>脈衝寬度  0%~100%</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="PulseWidth" placeholder="脈衝寬度">
			</div>
		</div>

		<div style="height: 5px;" class="row"></div>

		<div class="row">
			<div class="col-md-4">
				<h9>脈衝頻率 Hz</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="PulseFrequency" placeholder="脈衝頻率 Hz">
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>

		<div class="row">
			<div class="col-md-4">
				<h9>脈衝次數</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="Pulse_Count" placeholder="脈衝次數">
			</div>
		</div>
		<div class="col-md-0">
			<h6 id="StepRunResult">運行結果 :</h6>
			<button onclick="TestRunStep();" type="button" class="btn btn-warning">測試</button>
		</div>
		<div style="height: 50px;" class="row"></div>
		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h4>步進馬達 脈衝寬度、脈衝次數與距離比例</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h6>馬達代號</h6>
			</div>
			<div class="col-md-0">
				<div class="dropdown">
					<div>
						</div>
							<button class="btn btn-info dropdown-toggle" type="button" id="SetConfigStepMotorNumber" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A</button>
						<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
						<a class="dropdown-item" onclick="updateSelectionItem('SetConfigStepMotorNumber','A'); showDistanceOfTimeProportion(); ">A</a>
						<a class="dropdown-item" onclick="updateSelectionItem('SetConfigStepMotorNumber','B'); showDistanceOfTimeProportion(); ">B</a>
					</div>
				</div>
			</div>
			<div class="col-md-0">
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h9>脈衝寬度  0%~100%</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="StepMotorPulseWidth" placeholder="脈衝寬度">
			</div>
		</div>
		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h9>脈衝頻率 Hz</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="StepMotorPulseFrequency" placeholder="脈衝頻率 Hz">
			</div>
		</div><div style="height: 5px;" class="row"></div><div class="row">
			<div class="col-md-4">
				<h9>脈衝次數</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="StepMotorPulseTimes" placeholder="脈衝次數">
			</div>
		</div>

		<div style="height: 5px;" class="row"></div>
		<div class="row">
			<div class="col-md-4">
				<h9>距離 cm</h9>
			</div>
			<div class="col-md-0">
				<input type="text" class="form-control" id="StepMotorRunMile" placeholder="距離">
			</div>
		</div>
		<div style="height: 30px;" class="row">
			<div class="col-md-3">
				<h6 id="saveDistanceOfTimeProportionResult">運行結果 :</h6>
			</div>
		</div>
		<div class="col-md-0">
			<script>
				function readStepMotorNumber()
				{
					StepNumber = document.getElementById("SetConfigStepMotorNumber").innerText;
				}
			</script>
			<button onclick="readStepMotorNumber(); UpdateDistanceOfTimeProportion(StepNumber);" type="button" class="btn btn-success">儲存</button>
		</div>
		<div style="height: 50px;" class="row"></div>
			
	</div>
</div>

	<div style="height: 50px;" class="row"></div>
	<h4>拍照測試</h4>
	<h8>Jetson Nano 拍照的圖將會顯示在這裡</h8>
	
	<div class="row">

			<div class="col-md-3">
				<img id="ShowPic" src="https://3.blog.xuite.net/3/a/2/7/238328267/blog_3441985/txt/200984010/0.jpg" width="100%" height="auto" class="img-responsive" alt="Cinque Terre">
			</div>

			<div class="col-md-3">
				<div class="row">		
					<div class="col-md-8">
						<button onclick="TakePic();" type="button" class="btn btn-warning">Jetson Nano 拍照測試</button>
					</div>
				</div>	
				<div style="height: 20px;" class="row"></div>
				<div class="row">
					<div class="col-md-8">
						<h8 id="PicFilePath">拍照檔名 : </h8>
						<div id="PicFilePathLoader" style="display:none" class="loader"></div>

					</div>
				</div>
				
				<div style="height: 20px;" class="row"></div>
				<div class="row">
					<div class="col-md-8">
						<h10 id="PicFileUploadResult">上傳狀態 : </h10>
						<div id="PicFileUploadResultLoader" style="display:none" class="loader"></div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<h4> Jetson Nano IP </h4>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="Jetson Nano IP">
					</div>
				</div>
				<div style="height: 20px;" class="row"></div>
				<div class="row">
					<div class="col-md-4">
						<h4> Raspberry Pi IP </h4>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="Raspberry Pi IP">
					</div>
				</div>

				<div style="height: 20px;" class="row"></div>
				<div class="row">
					<div class="col-md-4">
						<h4> FTP IP </h4>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="FTP IP">
					</div>
				</div>

				<div style="height: 2px;" class="row"></div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<h5>Username</h5>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="username">
					</div>
				</div>
				<div style="height: 2px;" class="row"></div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<h5>Password</h5>
					</div>
					<div class="col-md-4">
						<input type="password" class="form-control" id="MotorPositionX" placeholder="password">
					</div>
				</div>

				<div style="height: 20px;" class="row"></div>
				<div class="row">
					<div class="col-md-4">
						<h4> MySQL IP </h4>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="FTP IP">
					</div>
				</div>

				<div style="height: 2px;" class="row"></div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<h5>Username</h5>
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" id="MotorPositionX" placeholder="username">
					</div>
				</div>
				<div style="height: 2px;" class="row"></div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<h5>Password</h5>
					</div>
					<div class="col-md-4">
						<input type="password" class="form-control" id="MotorPositionX" placeholder="password">
					</div>
				</div>

			</div>
			
	</div>
	<div style="height: 50px;" class="row"></div>
</div>
  
</body></html>