<html lang="en"><head>     
 <style>
	.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	}

	/* Safari */
	@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
	}
 </style>
	<meta charset="utf-8">     
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
	 
	 <script type="text/javascript" src="/static/Sensor.js"></script>
 
 </head>   
 <body onload="showDistanceOfTimeProportion();">   
 <div class="container">  
	<div class="row">  
		<div class="col-md-4">
			<h4>光照度儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="LuxTable"><tr><th scope="row">1</th> <td>二氧化碳</td><td>0.32</td></tr><tr><th scope="row">2</th> <td>光照</td><td>0</td></tr><tr><th scope="row">3</th> <td>大氣壓力</td><td>0.0</td></tr><tr><th scope="row">4</th> <td>大氣溫度</td><td>31.2</td></tr><tr><th scope="row">5</th> <td>濕度</td><td>70.9</td></tr></tbody>
			</table>
		</div>

		<div class="col-md-4">
			<h4>PH 儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="PH_Table"><tr><th scope="row">1</th> <td>PH</td><td>8.23</td></tr></tbody>
			</table>
		</div>

		<div class="col-md-4">
			<h4>EC 儀</h4>    
			<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">名稱</th>
					<th scope="col">數值</th>
				</tr>
			</thead>
			<tbody id="EC_Table"><tr><th scope="row">1</th> <td>水溫</td><td>29.3</td></tr><tr><th scope="row">2</th> <td>電導率</td><td>353.5</td></tr></tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h6 id="lastUpdateTime">最後更新時間 : 2020-05-04 22:41:10.277690</h6>
			<button onclick="ReadAllSensor();" type="button" class="btn btn-primary">更新</button>  
		</div>
	</div> 
<div style="height: 50px;" class="row"></div>
<div class="row">
	<div class="col-md-8">
		<h4>定時重複運行指令</h4>    
		
		
		<div style="height: 10px;" class="row"></div>
		<div class="row">
			<div class="dropdown col-md-2">
				<div>
					</div>
						<button class="btn btn-info dropdown-toggle" type="button" id="MotorType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">馬達類型</button>
					<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a class="dropdown-item" onclick="updateSelectionItem('MotorType','步進馬達');">步進馬達</a>
					<a class="dropdown-item" onclick="updateSelectionItem('MotorType','無刷馬達');">無刷馬達</a>
				</div>
			</div>

			<div class="dropdown col-md-2">
				<div>
					</div>
						<button class="btn btn-info dropdown-toggle" type="button" id="MotorDirection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">反轉</button>
					<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a class="dropdown-item" onclick="updateSelectionItem('MotorDirection','正轉');">正轉</a>
					<a class="dropdown-item" onclick="updateSelectionItem('MotorDirection','反轉');">反轉</a>
				</div>
			</div>
			<div class="col-md-2">
				<input type="text" class="form-control" id="MotorPosition" placeholder="座標位置">
			</div>
			<div class="custom-control custom-checkbox col-md-3">
				<input type="checkbox" class="custom-control-input" id="ifGettingLightCutter" checked>
				<label class="custom-control-label" for="ifGettingLightCutter">遇光遮斷器停止</label>
			</div>
			<div class="col-md-2">
				<button onclick="saveMotorCommand();" type="button" class="btn btn-primary">新增指令</button>  
			</div>
			
		</div>
		<div style="height: 10px;" class="row"></div>

		<table class="table" id="commandTable">
			<thead>
				<tr>
					<th data-field="#"></th>
					<th data-field="指令"></th>
					<th data-field="方向"></th>
					<th data-field="座標位置"></th>
					<th data-field="遇光遮斷器停止"></th>
					<th data-field="到達目標所需時間"></th>
					<th data-field="創建時間"></th>
					<th data-checkbox="true"></th>
				</tr>
			</thead>
		</table>
		<div style="height: 30px;" class="row">
			<div class="col-md-3">
				<h6 id="saveCommandRunResult">運行結果 :</h6>
			</div>
		</div>
		<div style="height: 10px;" class="row">
			<div class="col-md-2">
				<button onclick="showCommandList();" type="button" class="btn btn-primary">更新列表</button>  
			</div>
			<div class="col-md-2">
				<button onclick="showCommandList();" type="button" class="btn btn-danger">刪除已選指令</button>  
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<h4>定時運行排程</h4>    
		
		<button type="button" class="btn btn-primary">更新排程列表</button>  
		
		<button type="button" class="btn btn-primary">新增排程運行</button>  
		<table class="table">
		<thead>
			<tr>
			
			</tr>
		</thead>
		<tbody id="Schedule_table">
		</tbody>
		</table>
	</div>
</div>

<div style="height: 50px;" class="row"></div>
<h4>校正馬達運行時間與移動距離</h4>
<div class="row">
	<div class="col-md-3">
		<h6>步進馬達</h6>
	</div>
	<div class="col-md-0">
		<div class="dropdown">
			<div>
				</div>
					<button class="btn btn-info dropdown-toggle" type="button" id="dropdownStepMotor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">反轉</button>
				<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
				<a class="dropdown-item" onclick="updateSelectionItem('dropdownStepMotor','正轉');">正轉</a>
				<a class="dropdown-item" onclick="updateSelectionItem('dropdownStepMotor','反轉');">反轉</a>
			</div>
		</div>
		
	</div>
	



	<div class="col-md-0">
	</div>
	
</div>

<div style="height: 5px;" class="row"></div><div class="row">
	<div class="col-md-3">
		<h9>脈衝寬度  0%~100%</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="PulseWidth" placeholder="脈衝寬度">
	</div>
</div><div style="height: 5px;" class="row"></div><div class="row">
	<div class="col-md-3">
		<h9>脈衝頻率 Hz</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="PulseFrequency" placeholder="脈衝頻率 Hz">
	</div>
</div><div style="height: 5px;" class="row"></div>
<div class="row">
	<div class="col-md-3">
		<h9>脈衝次數</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="Pulse_Count" placeholder="脈衝次數">
	</div>
</div>


<div class="col-md-0">
	<h6 id="StepRunResult">運行結果 :</h6>
	<button onclick="TestRunStep();" type="button" class="btn btn-warning">測試</button>
</div>
<div style="height: 50px;" class="row"></div>
	
<div class="row">
	<div class="col-md-6">
		<h4>脈衝寬度、脈衝次數與距離比例</h4>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h9>脈衝寬度  0%~100%</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="StepMotorPulseWidth" placeholder="脈衝寬度">
	</div>
</div>
<div style="height: 5px;" class="row"></div>
<div class="row">
	<div class="col-md-3">
		<h9>脈衝頻率 Hz</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="StepMotorPulseFrequency" placeholder="脈衝頻率 Hz">
	</div>
</div><div style="height: 5px;" class="row"></div><div class="row">
	<div class="col-md-3">
		<h9>脈衝次數</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="StepMotorPulseTimes" placeholder="脈衝次數">
	</div>
</div>

<div style="height: 5px;" class="row"></div>
<div class="row">
	<div class="col-md-3">
		<h9>距離 cm</h9>
	</div>
	<div class="col-md-0">
		<input type="text" class="form-control" id="StepMotorRunMile" placeholder="距離">
	</div>
</div>
<div style="height: 5px;" class="row"></div>
<div class="col-md-0">
	<button onclick="UpdateDistanceOfTimeProportion('StepMotor');" type="button" class="btn btn-success">儲存</button>
</div>
<div style="height: 50px;" class="row"></div>
<div class="row">
	<div class="col-md-1">
		<h6>無刷馬達</h6>
	</div>
	<div class="col-md-2">
		<div class="dropdown">
		<div>
		</div>
			<button class="btn btn-info dropdown-toggle" type="button" id="dropdownBrushlessMotor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">正轉</button>
			<div class="dropdown-menu" aria-labelledby="motor" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
					<a class="dropdown-item" onclick="updateSelectionItem('dropdownBrushlessMotor','正轉');" href="#">正轉</a>
				<a class="dropdown-item" onclick="updateSelectionItem('dropdownBrushlessMotor','反轉');" href="#">反轉</a>
			</div>
		</div>
		
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control" id="BrushlessMotor_runSecond" placeholder="秒">
	</div>
	<div class="col-md-0">
	</div>
	<div class="col-md-1">
		<button onclick="TestRunBrush();" type="button" class="btn btn-warning">測試</button>
	</div>

	<div class="col-md-2">
		<h9>無刷馬達時間距離比例</h9>
	</div>

	<div class="col-md-1">
		<input type="text" class="form-control" id="BrushlessMotorRunMile" placeholder="公分">
	</div>
	<div class="col-md-0">
		<h9>cm  :</h9>
	</div>
	<div class="col-md-1">
		<input type="text" class="form-control" id="BrushlessMotorRunSecond" placeholder="秒">
	</div>
	<div class="col-md-0">
		<h9>s</h9>
	</div>
	<div class="col-md-1">
		<button onclick="UpdateDistanceOfTimeProportion('BrushlessMotor');" type="button" class="btn btn-success">儲存</button>
	</div>
</div>
	<div style="height: 50px;" class="row"></div>
	<h4>拍照測試</h4>
	<h8>Jetson Nano 拍照的圖將會顯示在這裡</h8>
	
	<div class="row">

			<div class="col-md-3">
			
				<img id="ShowPic" src="https://3.blog.xuite.net/3/a/2/7/238328267/blog_3441985/txt/200984010/0.jpg" width="100%" height="auto" class="img-responsive" alt="Cinque Terre">
			</div>
			<div class="row">
				<div class="col-md-8">
					<button onclick="TakePic();" type="button" class="btn btn-warning">Jetson Nano 拍照測試</button>
				</div>
				<div class="col-md-8">
					<h8 id="PicFilePath">拍照檔名 : </h8>
					<div id="PicFilePathLoader" style="display:none" class="loader"></div>

				</div>

				<div class="col-md-8">
					<h10 id="PicFileUploadResult">上傳狀態 : </h10>
					<div id="PicFileUploadResultLoader" style="display:none" class="loader"></div>

				</div>
			</div>
	</div>
</div>
  
</body></html>