[Unit]
Description=StartGrab

[Service]
Type=simple
WorkingDirectory=/home/pii/farm-stepmotor-controller-project/Controller_Server
ExecStart=/bin/bash StartControllerServer.sh


[Install]
WantedBy=multi-user.target

