[Unit]
Description=StartGrab

[Service]
Type=simple
WorkingDirectory=/home/pii/farm-stepmotor-controller-project/Controller_Server
ExecStart=/bin/bash -c "python3 Controller_Server.py"


[Install]
WantedBy=multi-user.target


