[Unit]
Description=StartGrab

[Service]
Type=simple
WorkingDirectory=/opt/MVS/Samples/aarch64/Python/GrabImage
ExecStart=/bin/bash "StartGrab.sh"


[Install]
WantedBy=multi-user.target

